<!-- FOOTER -->
{% load i18n %}
<footer id="footer" class="section section-grey" style="background-color: #1f1c1c;color: white">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a class="logo" href="{%  url 'home_page' %}">
                            {% load static %}
                            <h1><span style="color: red">TUR</span> MEK</h1>
                        </a>
                    </div>
                    <!-- /footer logo -->
                    <!-- footer social -->
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <!-- /footer social -->
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">{% trans 'Mon Compte' %}</h3>
                    <ul class="list-links" style="color: white">
                        {% if request.user.id is not None %}
                            {% include 'user_panel.html' %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">{% trans "service de l'utilisateur" %}</h3>
                    <ul class="list-links">
                        <li><a href="{%  url 'home_page' %}">{% trans "Accueil" %}</a></li>
                        <li><a href="{% url 'aboutus' %}">{% trans "Apropos de nous" %}</a></li>
                        <li><a href="{% url 'contactus' %}">{% trans "Contacter nous" %}</a></li>
                        <li><a href="{% url 'references' %}"> {% trans "References" %}</a></li>
                        <li><a href="{% url 'faq' %}">{% trans 'QUESTIONS FRÉQUEMMENT POSÉES' %}</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer subscribe -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Coordonnées</h3>
                    <p>Teléphone: {{ setting.phone }}</p>
                    <p>Fax: {{ setting.fax }}</p>
                    <p>E-mail: {{ setting.email }}</p>
                </div>
            </div>
            <!- /footer subscribe ->
        </div>
        <!-- /row -->
        <hr>
        <!-- row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <!-- footer copyright -->
                <div class="footer-copyright">
                    Copyright &copy; 2022 All rights reserved | Developed by <i class="fa fa-heart-o" aria-hidden="true"></i>  <a href="https://github.com/Eniyabla/Django-TM" target="_blank" style="color: orangered">Abdelbari</a>

                </div>
            </div>
            <!-- /footer copyright -->
        </div>
    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->
{% load static %}
<script src="{% static '' %}js/jquery.min.js"></script>
<script src="{% static '' %}js/bootstrap.min.js"></script>
<script src="{% static '' %}js/slick.min.js"></script>
<script src="{% static '' %}js/nouislider.min.js"></script>
<script src="{% static '' %}js/jquery.zoom.min.js"></script>
<script src="{% static '' %}js/main.js"></script>
