<!-- FOOTER -->
{% load i18n %}
<footer id="footer" class="section section-grey" style="background-color: #1f1c1c;color: white">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a class="logo" href="{%  url 'home_page' %}">
                            {% load static %}
                            <h1 style="color:white"><span style="color: red">TUR</span> MEK</h1>
                        </a>
                    </div>
                    <!-- /footer logo -->
                    <!-- footer social -->
                    <ul class="footer-social">
                        {% if setting.facebook %}<li><a href="{{ setting.facebook }}" style="color:white" target="_blank"><i class="fa fa-facebook"></i></a></li>{% endif %}
                        {% if setting.twitter %} <li><a href="{{ setting.twitter }}" style="color:white" target="_blank"><i class="fa fa-twitter"></i></a></li>{% endif %}
                        {% if setting.instagram %} <li><a href="{{ setting.instagram }}" style="color:white" target="_blank"><i class="fa fa-instagram"></i></a></li>{% endif %}
                        {% if setting.linkedin %} <li><a href="{{ setting.linkedin }}" style="color:white" target="_blank"><i class="fa fa-linkedin"></i></a></li>{% endif %}
                        {% if setting.youtube %} <li><a href="{{ setting.youtube }}" style="color:white" target="_blank"><i class="fa fa-youtube"></i></a></li>{% endif %}
                    </ul>
                    <!-- /footer social -->
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header" style="color:white">{% trans 'Mon Compte' %}</h3>
                    <ul class="list-links" style="color: white">
                        {% if request.user.id is not None %}
                            {% load i18n %}
                            <li><a href="{% url 'user_index' %}" style="color: white"><i class="fa fa-user-o"></i> {% trans  "Mon compte" %}</a></li>
                            <li><a href="{% url 'user_wishlist' %}"  style="color: white"><i class="fa fa-heart-o"></i> {% trans 'Liste de souhaits' %}</a></li>
                            <li><a href="{% url 'user_places' %}" style="color: white"><i class="fa fa-product-hunt"></i> {% trans "Mes Produuits" %}</a></li>
                            <li><a href="{% url 'user_comments' %}" style="color: white"><i class="fa fa-comments-o"></i> {% trans "Mes Commentaires" %}</a></li>
                            <li><a href="{% url 'user_messages' %}" style="color: white"><i class="fa fa-comments-o"></i> {% trans "Mes Messages" %}</a></li>
                            <li><a href="{% url 'logoutF' %}" style="color: white"><i class="fa fa-unlock"></i> {% trans "Deconnecter" %}</a></li>

                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header" style="color:white">{% trans "service de l'utilisateur" %}</h3>
                    <ul class="list-links" style="color:white">
                        <li><a href="{%  url 'home_page' %}" style="color:white">{% trans "Accueil" %}</a></li>
                        <li><a href="{% url 'aboutus' %}" style="color:white">{% trans "Apropos de nous" %}</a></li>
                        <li><a href="{% url 'contactus' %}" style="color:white">{% trans "Contacter nous" %}</a></li>
                        <li><a href="{% url 'references' %}" style="color:white"> {% trans "References" %}</a></li>
                        <li><a href="{% url 'faq' %}" style="color:white">{% trans 'Questions fréquemment posées' %}</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer subscribe -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header" style="color:white">{% trans 'Coordonnées' %}</h3>
                    <p>{% trans 'Téléphone' %}: {{ setting.phone }}</p>
                    <p>{% trans 'Fax' %}: {{ setting.fax }}</p>
                    <p>{% trans 'E-mail' %}: {{ setting.email }}/</p>
                </div>
            </div>

        </div>
        <!-- /row -->
        <hr>
        <!-- row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <!-- footer copyright -->
                <div class="footer-copyright">
                    {% trans 'Copyright &copy; 2022 All rights reserved | Developed by' %}
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <a href="https://github.com/Eniyabla/Django-TM" target="_blank" style="color: orangered">Abdelbari</a>

                </div>
            </div>
            <!-- /footer copyright -->
        </div>
    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->
{% load static %}
<script src="{% static '' %}js/jquery.min.js"></script>
<script src="{% static '' %}js/bootstrap.min.js"></script>
<script src="{% static '' %}js/slick.min.js"></script>
<script src="{% static '' %}js/nouislider.min.js"></script>
<script src="{% static '' %}js/jquery.zoom.min.js"></script>
<script src="{% static '' %}js/main.js"></script>
