<!-- HEADER -->

<header>
    {% load static %}
    {% load i18n %}
    <!-- top Header -->
    <div id="top-header">
        <div class="container">
            <div class="pull-left">
                <span>{% trans "Welcome to TURMEK"  %}!</span>
            </div>
            <div class="pull-right">
                <ul class="header-top-links">
                    <!--li><a href="#">Store</a></li>
                    <li><a href="#">Newsletter</a></li-->
                    {% get_current_language as code %}

                    <li><a href="{% url 'faq' %}"> {% trans "Faq" %}</a></li>
                    <li class="dropdown default-dropdown">
                        <form action="{% url 'selectLanguage' %}" method="post">
                            {% csrf_token %}

                            <input name="next" class="primary-btn" type="hidden" value="{{ redirect_to }}">
                            <select name="language">
                                {% get_current_language as LANGUAGE_CODE %}

                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                        {{ language.name_local }}({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                            <button class="search-btn">{% trans 'Go' %}</button>
                        </form>


                    </li>
                    <!--li class="dropdown default-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">USD <i class="fa fa-caret-down"></i></a>
                        <ul class="custom-menu">
                            <li><a href="#">USD ($)</a></li>
                            <li><a href="#">EUR (€)</a></li>
                        </ul>
                    </li-->
                </ul>
            </div>
        </div>
    </div>
    <!-- /top Header -->

    <!-- header -->
    <div id="header">
        <div class="container">
            <div class="pull-left">
                <!-- Logo -->
                <div class="header-logo">
                    <a class="logo" href="/">
                        {% load static %}
                        <h1><span style="color: red">TUR</span> MEK</h1>
                        <!--img src="{% static '' %}./img/logo.png" alt=""-->
                    </a>
                </div>
                <!-- /Logo -->

                <!-- Search -->
                <div class="header-search">
                  
                </div>
                <!-- /Search -->
            </div>
            <div class="pull-right">
                <ul class="header-btns">
                    <!-- Account -->
                    {% if user.is_authenticated %}
                        <li class="header-cart dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-heart-o"  style="color:orangered"></i>
                                    <span class="qty">{{ wishlistcount }}</span>
                                </div>
                                <!--strong class="text-uppercase">Whislist</strong-->
                                <br>
                            </a>
                            <div class="custom-menu">
                                <div id="shopping-cart">

                                    <div class="shopping-cart-list">
                                        {% if code == 'fr' %}
                                            {% for wish in wishlist1 %}
                                                <div class="product product-widget" style="display: flex">
                                                    <div class="product-thumb" style="width: 20%" >
                                                        <img src="{{ wish.place.image.url }}" alt="">
                                                    </div>
                                                    <div class="product-body" style="width: 80%">
                                                        <h3 class="product-price">{{ wish.place.city }}-<span class="qty">{{ wish.place.country }}</span></h3>
                                                        <h2 class="product-name"><a href="{% url 'place_detail' id=wish.place.id slug=wish.place.slug %}">{{ wish.place.title }}</a></h2>
                                                    </div>

                                                    <!--button class="cancel-btn" ><i class="fa fa-trash"></i></button-->
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% for wi in wishlist %}
                                                <div class="product product-widget" style="display: flex">
                                                    <div class="product-thumb" style="width: 20%" >
                                                        <img src="{{ wi.image.url }}" alt="">
                                                    </div>
                                                    <div class="product-body" style="width: 80%">
                                                        <h3 class="product-price">{{ wi.city }}-<span class="qty">{{ wi.country }}</span></h3>
                                                        {% if code != 'en' %}
                                                            <h2 class="product-name"><a href="{% url 'place_detail' id=wi.id slug=wi.slug %}">{{ wi.title }}</a></h2>


                                                        {% endif %}
                                                    </div>

                                                    <!--button class="cancel-btn" ><i class="fa fa-trash"></i></button-->
                                                </div>
                                            {% endfor %}
                                        {% endif %}



                                    </div>
                                    <div class="shopping-cart-btns">
                                        <a href="{% url 'user_wishlist' %}"><button class="primary-btn" style="width: 100%" >Go to wishlist Page<i class="fa fa-arrow-circle-right"></i></button></a>

                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}

                    <li class="header-account dropdown default-dropdown">
                        {% if user.id is not None %}
                            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon" >
                                    {% if  request.session.userimage  %}
                                        <img src="{{ request.session.userimage }}" height="20px" width="20px" alt="{{ user.username }}"  />
                                    {% endif %}
                                </div>
                                <strong class="text-uppercase">{{ user.first_name }} <i class="fa fa-caret-down" style="inline-size: auto"></i></strong>
                            </div>
                            <!--a href="#" class="text-uppercase">Login</a> / <a href="#" class="text-uppercase">Join</a-->
                            <ul class="custom-menu">
                            {% include 'user_panel.html' %}
                        {% else %}
                            <li>
                                <a href="{% url 'loginForm' %}" class="text-uppercase">{% trans "Login" %}</a> |
                                <a href="{% url 'signUpForm' %}" class="text-uppercase">{% trans "Join" %}</a>
                            </li>
                        {% endif %}
                        </ul>
                    </li>
                    <li class="nav-toggle">
                        <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li>
                    <!-- / Mobile nav toggle -->
                </ul>
            </div>
        </div>
        <!-- header -->
    </div>
    <!-- container -->
</header>
<!-- /HEADER -->