{% load mptt_tags %}
{% load i18n %}
<!-- NAVIGATION -->
<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            <!-- category nav -->
            <div class="category-nav show-on-click">
                <span class="category-header">{% trans 'Categories' %}<i class="fa fa-list"></i></span>
                <!--------------Category Menu---------------->
                <ul class="category-list">
                   {{ category|safe }}
                </ul>
                <!------------End Category Menu---------------->
            </div>
            <!-- /category nav -->
            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a href="{% url 'home_page' %}">{% trans "Accueuil" %}</a></li>
                    <li><a href="{% url 'aboutus' %}">{% trans "A Propos de Nous" %}</a></li>
                    <li><a href="{% url 'contactus' %}">{% trans "Contactez Nous" %}</a></li>
                    <li><a href="{% url 'references' %}"> {% trans "Références" %}</a></li>
                </ul>
            </div>
            <!-- menu nav -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /NAVIGATION -->
