{% load static %}
<!-- HOME -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- home wrap -->
            <div class="home-wrap">
                <!-- home slick -->

                <div id="home-slick">
                    <!-- banner -->
                    {% for sl in place_slider %}
                        <div class="banner banner-1">
                            <img src="{{ sl.image.url }}" alt="" height="420px">
                            <div class="banner-caption text-center" style="text-transform: capitalize">
                                <h1 style="color: #f65306" style="text-transform: capitalize">{{ sl.title }}</h1>
                                <h3 class="white-color font-weak" style="text-transform: capitalize">{{ sl.city }}</h3>
                                <a href="{% url 'place_detail' id=sl.id slug=sl.slug %}"> <button class="primary-btn" >Aller au detail</button></a>

                            </div>
                        </div>
                    {% endfor %}
                    <!-- /banner -->

                </div>
                <!-- /home slick -->
            </div>
            <!-- /home wrap -->
        </div>
        <!-- /container -->
    </div>
</div>
<!-- /HOME -->
