{% extends 'masterpage.html' %}
{% load i18n %}
{% block sidebar %}{% include '_sidebar.html' %}{% endblock %}
{% block title %} TURMEK | {{ title }}{% endblock %}
{% block content %}
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">{% trans 'Home' %}</a></li>
                <li class="active">{{ title }}</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="section-title">
                        <h3 class="title">{{ title }}</h3>
                    </div>
                    <table class="shopping-cart-table table">
                        <tr class="text-center">
                            <th>{% trans 'Place' %}</th>
                            <th>{% trans 'Image' %}</th>
                            <th>{% trans 'status' %}</th>
                            <th>{% trans 'Date' %}</th>
                            <th>{% trans 'Action' %}</th>
                        </tr>

                        {% for c_p in category_place %}
                            <tr class="text-left">
                                <td class="text-left">
                                    <strong>{{ c_p.title }}</strong>
                                </td>
                                <td class="text-left"><img src="{{ c_p.image.url }}" height="30px" width="30px"></td>
                                <td class="text-left">{{ c_p.status }}</td>
                                <td class="text-left">{{ c_p.create_at }}</td>
                                <td class="text-left">
                                    <a href="{% url 'place_detail' id=c_p.id slug=c_p.slug %}" class="primary-btn">Detail</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-1"></div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
{% endblock %}