{% extends 'masterpage.html' %}
{% load i18n %}
{% block sidebar %}{% include '_sidebar.html' %}{% endblock %}
{% block title %}TURMEK | {% trans 'Références' %}{% endblock %}
{% block content %}
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home_page' %}">{% trans 'Home' %}</a></li>
                <li class="active"> {% trans 'Références' %}</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
             <div class="row">
                <div class="col-md-1"></div>
                <div class="shiping-methods col-md-10">
                    <div class="section-title">
                        <h3 class="title">{% trans 'Références' %}</h3>
                    </div>
                    {{ setting.reference|safe }}
                </div>
                <div class="col-md-1"></div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
{% endblock %}