{% extends 'masterpage.html' %}
{% load i18n %}
{% block sidebar %}{% include '_sidebar.html' %}{% endblock %}
{% block title %}TU-RMEK |{% trans "Formulaire de connexion" %}{% endblock %}
{% block content %}
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home_page' %}">{% trans 'Accueil' %}</a></li>
                <li class="active">{% trans 'Login' %}</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="shiping-methods col-md-10">
                    <div class="section-title">
                        <h3 class="title">{% trans 'Connexion' %} </h3>
                    </div>
                    <form id="chekout-form" class="clearfix" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="input" type="text" placeholder="{% trans "Entrez votre nom d'utilisateur..." %}" name="username">
                        </div>
                        <div class="form-group">
                            <input class="input" type="password" placeholder="{% trans "Entrez votre mot de passe.." %}" name="password">
                        </div>
                        <div class="form-group">
                            <button class="primary-btn" type="submit">{% trans "Se connecter" %} </button>
                        </div>
                    </form>


                </div>
                <div class="col-md-1"></div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
{% endblock %}