{% extends 'masterpage.html' %}
{% load i18n %}
{% block sidebar %}{% include '_sidebar.html' %}{% endblock %}
{% block title %} TUR-MEK | {% trans "Ajout d'un produit pour l'utilisateur" %}{% endblock %}
{% block content %}
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home_page' %}">{% trans 'Accueil' %}</a></li>
                <li><a href="{% url 'user_places' %}">{% trans "Produit de l'utilisateur" %}</a></li>
                <li class="active">{% trans "Ajout d'un lieu pour l'utilisateur" %}</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class=" col-md-3">
                    <div class="section-title">
                        <h3 class="title">{% trans "Panneau de l'utilisateur" %}</h3>
                    </div>
                    <div class="aside">
                        <ul class="list-links">
                            {% include "user_panel.html" %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="section-title">
                        <h3 class="title">{% trans "Ajout d'un lieu pour l'utilisateur" %}</h3>
                    </div>
                    <form id="chekout-form" class="clearfix" method="post"  enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="primary-btn">{% trans 'Ajouter le produit' %}</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    </div>

{% endblock %}