{% extends 'masterpage.html' %}
{% load i18n %}
{% block sidebar %}{% include '_sidebar.html' %}{% endblock %}
{% block title %} TU-RMEK |{% trans "produit de l'utilissateur" %}{% endblock %}
{% block content %}
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">{% trans 'Accueil' %}</a></li>
                <li class="active">{% trans "Produit de l'utilisateur" %}</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class=" col-md-3">
                    <div class="section-title">
                        <h3 class="title">{% trans "Panneau d'utilisateur" %}</h3>
                    </div>
                    <div class="aside">
                        <ul class="list-links">
                            {% include "user_panel.html" %}
                        </ul>
                    </div>                </div>
                <div class="col-md-9">
                    <div class="section-title">
                        <h3 class="title">{% trans "Produit de l'utilisateur" %}</h3>
                    </div>
                    <table class="shopping-cart-table table">

                        <tr class="text-right">
                            <a href="{% url 'user_add_place' %}"><button class="primary-btn" type="submit">{% trans 'Nouveau produit' %}</button> </a>
                        </tr>
                        <tr class="text-center">
                            <th> {% trans 'Titre' %}</th>
                            <th> {% trans 'categorie' %}</th>
                            <th> {% trans 'Image' %}</th>
                            <th>{% trans 'status' %}</th>
                            <th> </th>
                        </tr>

                        {% for place in places %}
                            <tr class="text-left">
                                <td class="text-left">
                                    <a href="{% url 'place_detail' id=place.id slug=place.slug %}">
                                        <strong>{{ place.title }}</strong>
                                    </a>
                                </td>
                                <td class="text-left">{{ place.title }}</td>
                                {% if place.image %}
                                    <td class="text-left"><img src="{{ place.image.url }}" height="40px" width="40px"/></td>
                                {% else %}
                                    <td class="text-left">Null</td>
                                {% endif %}
                                <td class="text-left">{{ place.status }}</td>

                                <td class="text-left">
                                    <a href="{% url 'user_delete_place' id=place.id %}" class="primary-btn" onclick="return confirm('{% trans 'Voulez-vous vraiment supprimer cet élément?' %}')" >{% trans 'Supprimer' %}</a>
                                    <a href="{% url 'user_update_place' id=place.id %}" class="primary-btn" >{% trans 'Modifier' %}</a>
                                    <a href="{% url 'user_add_image' id=place.id %}" class="primary-btn"  >{% trans 'add image' %}</a>
                                    <a href="{% url 'user_add_place_multilang' id=place.id %}" class="primary-btn">{% trans 'En arabe' %}</a>

                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

{% endblock %}
