{% load i18n %}
<li><a href="{% url 'user_index' %}"><i class="fa fa-user-o"></i> {% trans  "Mon compte" %}</a></li>
<li><a href="{% url 'user_wishlist' %}"><i class="fa fa-heart-o"></i> {% trans 'Liste de souhaits' %}</a></li>
<li><a href="{% url 'user_places' %}"><i class="fa fa-product-hunt"></i> {% trans "Mes Produuits" %}</a></li>
<li><a href="{% url 'user_comments' %}"><i class="fa fa-comments-o"></i> {% trans "Mes Commentaires" %}</a></li>
<li><a href="{% url 'user_messages' %}"><i class="fa fa-comments-o"></i> {% trans "Mes Messages" %}</a></li>
<li><a href="{% url 'logoutF' %}"><i class="fa fa-unlock"></i> {% trans "Deconnecter" %}</a></li>
