{% extends 'masterpage.html' %}
{% load i18n %}
{% block sidebar %}{% include '_sidebar.html' %}{% endblock %}
{% block title %} TUR-MEK |{% trans 'la version Arabe de' %} {{ place.title}}  {% endblock %}
{% block content %}
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home_page' %}">{% trans 'Accueil' %}</a></li>
                <li><a href="{% url 'user_places' %}">{% trans "Produit de l'utilisateur" %}</a></li>
                <li class="active">{% trans 'La version arabe de ' %}{{ place.title}}</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class=" col-md-3">
                    <div class="section-title">
                        <h3 class="title">{% trans "Panneau de l'utilisateur" %}</h3>
                    </div>
                    <div class="aside">
                        <ul class="list-links">
                            {% include "user_panel.html" %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="section-title">
                        <h3 class="title">{% trans 'La version arabe de ' %}{{ place.title}}</h3>
                    </div>
                    <table class="shopping-cart-table table">

                        <tr class="text-center">
                            <th> {% trans 'Titre' %}</th>
                            <th>{% trans 'Langue' %}</th>
                            <th>{% trans 'Mot-clé' %}</th>
                            <th>{% trans 'Description' %}</th>
                            <th>{% trans 'Action' %}</th>
                        </tr>
                        <tr>

                            <td class="text-left">
                                <strong>{{ place.title }}</strong>
                            </td>
                            <td class="text-left">fr</td>
                            <td class="text-left">{{ place.keyword }}</td>
                            <td class="text-left">{{ place.description }}</td>
                            <td class="text-left">{% trans 'Par defaut' %}</td>
                        </tr>
                        {% for pl in places %}
                            < <tr>

                            <td class="text-left">
                                <strong>{{ pl.title }}</strong>
                            </td>
                            <td class="text-left">{{ pl.lang }}</td>
                            <td class="text-left">{{ pl.keyword }}</td>
                            <td class="text-left">{{ pl.description }}</td>
                            <td class="text-left"><a href="{% url 'user_update_multilang_place' place_id=place.id id=pl.id %}" class="primary-btn"  >{% trans 'Modifier' %}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <hr>
                    <div>
                        {% if placecount < langcount  %}
                        <form id="chekout-form" class="clearfix" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="primary-btn">{% trans 'Ajouter la version arabe' %}</button>
                        </form>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    </div>

{% endblock %}