{% extends 'masterpage.html' %}
{% load i18n %}
{% block sidebar %}{% include '_sidebar.html' %}{% endblock %}
{% block title %} TURMEK | {% trans "Modification du mot de passe de l'utilisateur" %}{% endblock %}
{% block content %}
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">{% trans 'Home' %}</a></li>
                <li class="active">{% trans "Modification du mot de passe" %}</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class=" col-md-3">
                    <div class="section-title">
                        <h3 class="title">{% trans "Panneau de l'utilisateur" %}</h3>
                    </div>
                    <div class="aside">
                        <ul class="list-links">
                            {% include "user_panel.html" %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="section-title">
                        <h3 class="title">{% trans "Modification du mot de passe" %}</h3>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small style="">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: gray"> {{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button class="primary-btn">{% trans "Modifier votre mot de passe" %}</button>
                    </form>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

{% endblock %}